<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>249286284677-3c9akl2apr07cnp2qqs4rrki8j8qajot.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.249286284677-3c9akl2apr07cnp2qqs4rrki8j8qajot</string>
	<key>API_KEY</key>
	<string>AIzaSyCY-nJgnV5uaYn1CJabLoR1MESrRIHkzn8</string>
	<key>GCM_SENDER_ID</key>
	<string>249286284677</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.maxwell.FiPay</string>
	<key>PROJECT_ID</key>
	<string>fipay-4e860</string>
	<key>STORAGE_BUCKET</key>
	<string>fipay-4e860.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:249286284677:ios:fd274510c9eca5e2f9a0ec</string>
</dict>
</plist>